.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_content {
  background-color: white;
  padding: 50px; /* Increased padding for larger space inside */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 600px; /* Increased width for a larger popup */
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
}

.popup_title {
  margin-top: 0;
  font-size: 1.8em; /* Increased font size for the title */
  color: #110e2f;
  text-align: center;
}

.input,
.textarea {
  width: 100%;
  padding: 10px; /* Increased padding for inputs */
  margin: 12px 0; /* Increased margin for more space between elements */
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1.1em; /* Slightly larger font size for readability */
}

.upload_input {
  display: none;
}

.upload_button {
  background-color: #110e2f;
  color: white;
  padding: 12px 20px; /* Increased padding for buttons */
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 50%;
  margin-top: 15px; /* Adjusted for more space */
}

.upload_button:hover {
  background-color: #0d0b24;
}

.submit_button {
  background-color: #28a745;
  color: white;
  padding: 12px 20px; /* Increased padding for buttons */
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 20px; /* Adjusted for more space */
}

.submit_button:hover {
  background-color: #218838;
}

.submit_button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn_container {
  align-items: center;
}