.uploadInput {
    display: none; /* Hide the default input */
  }
  
  .uploadButton {
    display: flex; 
    justify-content: center;  
    align-items: center; 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 10px;
    padding: 1em; 
  }
  
  .uploadButton:hover {
    background-color: rgb(230, 230, 230);
  }
  